{% extends "layout.html.twig" %}


{% block main %}
	<main class="about">
		<img src="assets/images/equipe.jpg" alt="">
		<p>
			Aurore Mengual, trentenaire et membre actif de l'association
			<span class="important">Locavor</span>, s'est particulièrement investie dans le maraîchage au sein du projet communautaire du Moulin de Favière. Son engagement envers une
			<span class="important">agriculture respectueuse</span>
			de l'environnement et axée sur la permaculture a été essentiel dans le développement et la réussite de cette activité au sein de la communauté. Grâce à ses connaissances et à son dévouement, elle a contribué à la création d'un potager florissant et diversifié, fournissant des produits de qualité à la communauté et renforçant ainsi son engagement envers un mode de vie écologique et durable.
		</p>
		<a href="https://certificat.ecocert.com/entreprise/925966E7-9B16-4135-9172-9C30D9BEDEE8" target="_blank">Certificats</a>
	</main>
{% endblock %}
