{% extends "layout.html.twig" %}


{% block main %}
	<main>
		<section class="distribution">
			<h1>Où nous retouver ?</h1>
			<article class="marche_article">
				<div class="marche">
					<h2>Marché de Gorron</h2>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.383016136835!2d-0.8173665240656569!3d48.41079063210185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480972db7cb2e447%3A0x3a7f55fbc1a462c4!2sLe%20March%C3%A9%20Gorronnais!5e0!3m2!1sfr!2sfr!4v1713116279433!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<p>
					<span class="italic">Ouvert tous les mercredis de 8:30 à 13:30</span>
				</p>
			</article>
			<article class="locavor">
				<div>
					<img src="assets/images/locavor.png" alt="">
					<h2>LOCAVOR</h2>
				</div>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur possimus dolore tempora architecto vitae commodi fuga corrupti laboriosam? Sunt natus labore nam hic, repudiandae provident in dolore voluptate dolorum cum?</p>
				<a href="https://locavor.fr/" target="_blank">Précommander sur le site</a>
			</article>
			<article class="lieu_article">
				<h2>Sur notre lieu</h2>
				<div class="lieu"></div>
				<p>
					<span class="italic">Le Moulin de Favières. 53120 Brecé</span>
				</p>
			</article>
		</section>
	</main>


{% endblock %}
