{% extends "layout.html.twig" %}

{% block main %}
	<main class="protection">
		<h1>Politique de Protection des Données</h1>

		<p>Nous attachons une grande importance à la protection de vos données personnelles. La présente politique de protection des données vous informe sur la manière dont nous collectons, utilisons et protégeons vos données.</p>

		<h2>Collecte des données</h2>

		<p>Nous collectons des données personnelles lorsque vous nous les fournissez volontairement, par exemple lorsque vous remplissez un formulaire de contact ou lorsque vous passez une commande sur notre site. Les données que nous collectons peuvent inclure votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone, etc.</p>

		<h2>Utilisation des données</h2>

		<p>Nous utilisons les données que nous collectons pour traiter vos commandes, répondre à vos demandes, améliorer nos produits et services, et vous informer des nouveautés et des promotions. Nous ne communiquerons pas vos données à des tiers sans votre consentement préalable, sauf si la loi l'exige.</p>

		<h2>Protection des données</h2>

		<p>Nous mettons en place des mesures de sécurité techniques et organisationnelles appropriées pour protéger vos données contre tout accès non autorisé, toute divulgation, toute altération ou toute destruction.</p>

		<h2>Conservation des données</h2>

		<p>Nous conservons vos données personnelles aussi longtemps que nécessaire pour remplir les finalités pour lesquelles elles ont été collectées, ou aussi longtemps que requis par la loi.</p>

		<h2>Vos droits</h2>

		<p>Vous avez le droit d'accéder à vos données personnelles, de les rectifier, de les supprimer ou de limiter leur traitement. Vous pouvez également vous opposer au traitement de vos données ou demander leur portabilité. Pour exercer ces droits, veuillez nous contacter à l'adresse suivante :</p>

		<p>{{ adresseContact }}</p>

		<h2>Modifications de la politique de protection des données</h2>

		<p>Nous nous réservons le droit de modifier la présente politique de protection des données à tout moment. Les modifications entreront en vigueur dès leur publication sur le site.</p>
	</main>
{% endblock %}
