{% extends "layout.html.twig" %}

{% block main %}
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-3">
					<a href="index.php?route=admin" class="btn btn-secondary">Retour</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a href="index.php?route=ajouter_CategorieVivant" class="btn btn-success">Ajouter une categorie</a>
				</div>
			</div>
			<div class="row">
				{% for categorie in categoriesAnimeaux %}
					<div class="col-md-4 mb-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">{{ categorie.nom }}</h5>
								<div class="media">
									<svg class="mr-3" width="64" height="64" viewbox="0 0 24 24">
										{{ categorie.media }}
									</svg>
								</div>
								<div class="btn-group mt-3" role="group">
									<a href="index.php?route=modifier_categorieVivant&id={{ categorie.id }}" class="btn btn-primary">Modifier</a>
									<a href="index.php?route=supprimer_categorieVivant&id={{ categorie.id }}" class="btn btn-danger">Supprimer</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
