<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>{{ objet }}</title>
	</head>
	<body>
		<h2>Nouveau message de contact</h2>
		<p>
			<strong>Message :</strong><br>{{ message }}
		</p>

	</body>
</html>
