<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="assets/images/mitopie.png"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="assets/css/index.css">
		<title>
			{% block title %}Mitopie - Les petits produits
			{% endblock %}
		</title>
	</head>
	<body>
		{% block header %}
			{% if session.connexion_layout == 'autorise' %}
				<header id="main-header">
					<section class="header">
						<div class="overlay"></div>

						<img class="bio_image" src="assets/images/bio.png" alt="logo_mitopie">
						<a href="index.php"><img class="logo_image" src="assets/images/mitopie.png" alt="logo_mitopie"></a>
						<a href="index.php?route=profil">
							<i class="fa-solid fa-user"></i>
						</a>
						<section class='burger_container'>
							<div class="menu_burger">
								<div></div>
								<div></div>
								<div></div>
							</div>
							<div class="menu_burger_close">
								<i class="fa-solid fa-xmark"></i>
							</div>
						</section>
					</section>
					<section>
						<nav class="nav_bar">

							<div class="drop_down_menu">
								<ul>
									{% if session.role == 'ADMIN' %}
										<li>
											<a href="index.php?route=admin">Espace Admin</a>
										</li>
									{% endif %}
									<li>
										<a href="index.php">Accueil</a>
									</li>
									<li>
										<a class="disabled">Espace membre
											<i class="fa-solid fa-caret-down"></i>
										</a>
										<div class='drop_down_menu_1'>
											<ul>
												<li class="border">
													<a href="index.php?route=profil">Mon profil</a>
												</li>
												<li class="border">
													<a href="index.php?route=logout">Deconnexion</a>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<a href="index.php?route=contact">contact</a>
									</li>
									<li>
										<a href="index.php?route=about">Qui suis-je ?</a>
									</li>
								</ul>

							</div>
						</nav>
					</section>
				</header>

			{% else %}
				<header id="main-header">
					<section class="header">
						<div class="overlay"></div>

						<img class="bio_image" src="assets/images/bio.png" alt="logo_mitopie">
						<a href="index.php"><img class="logo_image" src="assets/images/mitopie.png" alt="logo_mitopie"></a>
						<a href="index.php?route=profil">
							<i class="fa-solid fa-user"></i>
						</a>
						<section class='burger_container'>
							<div class="menu_burger">
								<div></div>
								<div></div>
								<div></div>
							</div>
							<div class="menu_burger_close">
								<i class="fa-solid fa-xmark"></i>
							</div>
						</section>
					</section>
					<section>
						<nav class="nav_bar">

							<div class="drop_down_menu">
								<ul>
									<li>
										<a href="index.php">Accueil</a>
									</li>
									<li>
										<a class="disabled">Espace membre
											<i class="fa-solid fa-caret-down"></i>
										</a>
										<div class='drop_down_menu_1'>
											<ul>
												<li class="border">
													<a href="index.php?route=login">connexion</a>
												</li>
												<li class="border">
													<a href="index.php?route=register">inscription</a>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<a href="index.php?route=contact">contact</a>
									</li>
									<li>
										<a href="index.php?route=about">Qui suis-je ?</a>
									</li>
								</ul>

							</div>
						</nav>
					</section>
				</header>

			{% endif %}

		{% endblock %}


		{% block main %}{% endblock %}

		{% block footer %}

			<footer>

				<section>
					<img class="logo_footer" src="assets/images/mitopietest.png" alt="">
					<h2>L'entreprise</h2>
					<ul>
						<li>
							<i class="fa-solid fa-hand"></i>
							<a href="index.php?route=about">Qui sommes nous ?</a>
						</li>
						<li></li>
						<li>
							<i class="fa-solid fa-magnifying-glass"></i>
							<a href="index.php?route=distribution">Nous retrouver</a>
						</li>
					</ul>
				</section>

				<section>
					<h2>Mes Informations</h2>
					<ul>
						<li>
							<i class="fa-solid fa-map-pin"></i>
							Le moulin de Favière, 53120 Brecé</li>
						<li>
							<i class="fa-solid fa-phone"></i>
							06.78.81.66.20</li>

						<li>
							<i class="fa-solid fa-envelope"></i>
							mitopie53@gmail.com</li>
					</ul>
					<section class="border_none">
						<i class="fa-brands fa-square-facebook"></i>
						<i class="fa-brands fa-linkedin"></i>
					</section>


					<section class='footer_second_part'>
						<ul>
							<li><a href="mentions légales">Mentions légales</a></li>
							<li><a href="mentions légales">Politique de protection des donnéees</a></li>
							<li><a href="index.php?route=contact">Contacter</a></li>


						</ul>
					</section>

					<section>
						<img class='footer_bio' src="assets/images/bio.png" alt="">
					</section>


				</footer>
			{% endblock %}

			<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
			<script type="module" src="assets/js/index.js"></script>
		</html>
	</body>
</html>
